<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Blog</a>
		</div> 
		<div class="collapse navbar-collapse" id="navbar-collapse-1" ng-bind-html="navbarHtml">
		</div>
	</div>
</nav>
<div infinite-scroll="infiniteScrollFactory.nextPage()" infinite-scroll-disabled="infiniteScrollFactory.busy" infinite-scroll-distance="1">
	<table class="table table-striped">
		<tbody>
			<tr ng-if="infiniteScrollFactory.items.length == 0">
				<td>
					<h5 class="text-center">没有文章，<a href="/admin/#/create/">请创建一篇新文章</a>!</h5>
				</td>
			</tr>
			<tr ng-repeat="post in infiniteScrollFactory.items" class="post-content-row">
				<td class="post-number-cell" ng-click="openPost(post.Id)">
					<h4>{{$index + 1}}</h4>
				</td>
				<td class="post-cell" ng-click="openPost(post.id)">
				<h4>{{post.title}} <small class="text-success" ng-if="post.status == 'published'">Published</small><small class="text-warning" ng-if="post.status != 'published'">草稿</small></h4>
				<p>{{post.markdown | limitTo: 400}}{{post.markdown.length > 400 ? '...' : ''}}</p>
				</td>
				<td class="post-remove-cell">
					<a class="text-danger" id="post-cover-delete" ng-click="deletePost(post.id, post.title)"><h5><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除</h5></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>